<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn LSF with Mini App - Apprenez la LSF avec Mini Appli</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
  </head>
  <body>
    <h1>Learn LSF with Mini App - Apprenez la LSF avec Mini Appli</h1>
    <h2>(by Alex Thu Vu)</h2>

    <div class="container">
      <div class="video-section">
        <div class="video-wrapper">
          <video id="video" autoplay playsinline></video>
          <canvas id="overlay"></canvas>
        </div>
        <br />
        <button id="toggleCam">Turn Camera On / Activer la caméra</button>
      </div>

      <div class="story-section">
        <p id="tips">
          Tips: BE PATIENT! Make sure your hand is clearly visible to the
          camera. The action should
          <span style="color: #bd2d87"
            >be done slowly and repeated several times then hold a little
            bit</span
          >
          until it is correctly recognized.
        </p>
        <p>
          Conseils : Soyez patient, s'il vous plaît ! Assurez-vous que votre
          main soit bien visible par la caméra.
          <span style="color: #bd2d87"
            >L'action doit être effectuée lentement et répétée plusieurs fois,
            alors attendez un peu </span
          >jusqu'à ce qu'elle soit reconnue correctement.
        </p>
        <p id="story-prompt">
          Bonjour! To start,
          <span style="color: #bd2d87"
            >please click the button "Turn camera on"</span
          >
          <br />
          Pour commencer,
          <span style="color: #bd2d87"
            >veuillez cliquer sur le bouton « Activer la caméra »</span
          >
        </p>
        <p id="sign-expected">Expected Sign: Waiting...</p>
        <h4 id="feedback"></h4>
        <img
          id="sign-image"
          src="static/images/bonjour.gif"
          width="500"
          height="320"
        />
      </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
